# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ipch
*.opendb
*.suo
*.db
# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf
*.pdb
*.tlog
*.log
*.db-wal
*.pdb
*.ilk
MyRayTracing/.vs/MyRayTracing/v16/.suo
*.db
*.db-shm
*.pdb
MyRayTracing/OneWeekend/Debug/vc142.pdb
MyRayTracing/OneWeekend/Debug/vc142.idb
*.idb
*.ilk
